<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Electro-Gamer{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/vendors-node_modules_bootstrap-icons_font_bootstrap-icons_css-node_modules_bootstrap_dist_css-b08609.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
</head>
    <body>
        <header class="fixed-top">
            {% block header %}
                {% include 'componentes/cabecera.html.twig' %}
            {% endblock %}
        </header>


        <main role="main" class="container" style="margin-top: 80px;">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}
    </body>
</html>
